Sign Up

<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name", :required => true %>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name", :required => true %>
  </div>
  <div>
    <%= f.email_field :email, placeholder: "Email", :required => true %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password", :required => true %>
  </div>
  <%= f.submit "Sign Up you kind person" %>
<% end %>
